libre-pensador-api/.vs/
libre-pensador-api/libre-pensador-api/bin/
libre-pensador-api/libre-pensador-api/obj/
libre-pensador-api/libre-pensador-api/appsettings.json
libre-pensador-api/libre-pensador-api/.config/
libre-pensador-api/libre-pensador-api/Properties/
libre-pensador-api/libre-pensador-api/Logs/